body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  border-bottom:1px solid rgb(204, 193, 193);
  height:50px;
  padding: 10px 20px 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height:25px;
  width:100px;
}
header button{
  background-color: white;
  height:30px;
  width:60px;
  border:none;
  border-radius: 4px;
}
header button:hover{
  background-color: rgb(209, 202, 202);
}

main{
  border-bottom:1px solid rgb(173, 168, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main{
  width: 450px;
  margin-top: 40px;
}
.img{
  margin-top: 40px;
  height:80px;
  width:300px;
}
.step{
  margin-left:60px;
}
.complete span{
  font-size:18px;
}
.plan{
  font-weight: bold;
  font-size: 33px;
  margin: 0 0 0px 0;
}
.next{
  width:600px;
  height:60px;
  margin-bottom: 50px;
  background-color: rgb(245, 52, 52);
  border:none;
  color:white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.8s ease;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.link{
  text-decoration: none;
}
.next:hover{
  background-color: rgb(163, 3, 3);
}

.question{
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 30px;
  margin-left: 50px;

  margin-bottom: 7vh;
}
.grid a{
    color:rgb(82, 76, 76);
}
